@model CIS.Models.Handset

<h1>Insert</h1>

<div class="row">
    <div class="col-md-6 m-auto">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Register Handset</h6>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row mb-2 g-2">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.HolderType, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.HolderType, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HolderType, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            <input type="submit" name="name" value="Create" class="btn btn-primary" />
                            @Html.ActionLink("Back to List", "Select", "Handset", "", new { @class = "btn btn-secondary" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>