@model CIS.Models.Contact

@using PMSRedirect;
@{
    UserSessions user = new UserSessions();
}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h6 style="display:inline-block;">Contacts</h6>
            @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary text-white", style = "display:inline-block; float:right" })
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="data" class="table table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ID)</th>
                        <th>@Html.DisplayNameFor(model => model.Obj_EIDHolder)</th>
                        <th>@Html.DisplayNameFor(model => model.NetworkNo)</th>
                        <th>Position</th>
                        <th>Department</th>
                        <th>Network Provider</th>
                        <th>@Html.DisplayNameFor(model => model.BinCard)</th>
                        <th>@Html.DisplayNameFor(model => model.Remarks)</th>
                        <th>@Html.DisplayNameFor(model => model.EncBy)</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ContactList )
                    {
                        <tr>
                            <td>@item.ID </td>
                            @{
                                
                                    string FullName = item.Obj_EIDHolder.Info.Fullname ?? "";

                            }
                            <td>@(item.Obj_EIDHolder.Info.Fullname??"")</td>
                            <td>@item.NetworkNo</td>
                            <td>@item.Obj_EIDHolder.Info.position </td>
                            <td>@item.Obj_EIDHolder.Info.department </td>
                            <td>@item.GetNetworkName(item.NetworkTypeID) </td>
                            <td>@item.BinCard </td>
                            <td>@item.Remarks</td>
                            @{
                                try
                                {
                                    <td>@item.Obj_LastModifiedBy.Info.Fullname</td>
                                }
                                catch
                                {
                                    <td></td>
                                }
                            }

                            <td>
                                <div class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#Update" data-id="@item.ID" title="Details" onclick="showModal('Update')"><i class="fa-solid fa-pen-to-square"></i></button>
                                        <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#Profile" data-id="@item.ID" title="Details" onclick="showModal('Profile')"><i class="fa-solid fa-circle-info"></i></button>
                                        <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#DeleteView" data-id="@item.ID" title="Details" onclick="showModal('DeleteView')"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="Update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @Html.Partial("~/Views/Contact/Update.cshtml");
</div>
@*<div class="modal fade" id="Profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @Html.Partial("~/Views/Contact/Profile.cshtml");
</div>*@
<div class="modal fade" id="DeleteView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @Html.Partial("~/Views/Contact/DeleteView.cshtml");
</div>

<script>
    $("#data").DataTable();
</script>

@section scripts{
    <script>
        $('#searchItem').on('keyup', function () {
        var searchItem = $(this).val();
        //LoadData(searchItem);

        });

        $("#data").DataTable();

        function LoadData(search)
        {
            $.ajax({
                url: '@Url.Action("Search", "Contact")',
                type: 'GET',
                //data: { item: search },
                //success: function (data) {
                //    $('#tableDiv').html(data);
                //},
                //error: function () {
                //    alert('An error occurred while fetching the data.');
                //}
            });

        }

        function showModal(actionString) {
            $("#"+actionString).on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var id = button.data().id; // Extract info from data-* attributes
                var modal = $(this);
                modal.find('.spinner-border').show(); // show loading spinner
                
                $.ajax({
                    url: "/Contact/"+actionString,
                    type: "GET",
                    data: { ID: id },
                    success: function (data) {
                        //modal.find('.spinner-border').hide(); // hide loading spinner
                        console.log(data);
                        modal.find('#itemDetails').html(data); // display item details
                    }
                });
                
            });
        }

    </script>
}